@media (max-width: 670px) {
    .choice {
        width: 100%;
    }

    footer {
        text-align: center;
    }

    .btn {
        width: 100%;
    }

    .facebook {
        margin-bottom: 10px;
    }

    .top-wrapper {
        text-align: left;
        padding-top: 130px;
    }

}